In [109]:
import pandas as pd
import numpy as np

In [110]:
df = pd.read_csv('vgsales.csv')
df.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

## Which company is the most common video game publisher?

In [111]:
def most_common_publisher():
 return df['Publisher'].value_counts().idxmax()

## What’s the most common platform?

In [112]:
def most_common_platform(): 
 return df['Platform'].value_counts().idxmax()

## What about the most common genre?

In [113]:
def most_common_genre(): 
 return df['Genre'].value_counts().idxmax()

## What are the top 20 highest grossing games?

In [114]:
df[df['Global_Sales']>20][['Name','Genre']]

                                            Name         Genre
0                                     Wii Sports        Sports
1                              Super Mario Bros.      Platform
2                                 Mario Kart Wii        Racing
3                              Wii Sports Resort        Sports
4                       Pokemon Red/Pokemon Blue  Role-Playing
5                                         Tetris        Puzzle
6                          New Super Mario Bros.      Platform
7                                       Wii Play          Misc
8                      New Super Mario Bros. Wii      Platform
9                                      Duck Hunt       Shooter
10                                    Nintendogs    Simulation
11                                 Mario Kart DS        Racing
12                   Pokemon Gold/Pokemon Silver  Role-Playing
13                                       Wii Fit        Sports
14                                  Wii Fit Plus        Sports
15                            Kinect Adventures!          Misc
16                            Grand Theft Auto V        Action
17                 Grand Theft Auto: San Andreas        Action
18                             Super Mario World      Platform
19  Brain Age: Train Your Brain in Minutes a Day          Misc

## For North American video game sales, what’s the median?

In [115]:
md = df.loc[:,"NA_Sales"].median()
md
df.groupby(["Name"])['NA_Sales'].median().head(1)

Name
'98 Koshien    0.15
Name: NA_Sales, dtype: float64

## For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [116]:
top_sale = df.iloc[0].NA_Sales
top_sale

NA_mean = df['NA_Sales'].mean()
NA_mean

NA_std = df['NA_Sales'].std()
NA_std

dis = top_sale - NA_mean
dis

res = dis/NA_std
res

50.47898767479108

## The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [120]:
def avg_sale_compare_other_platform():
 platform = df.iloc[0].Platform
 nanindo = df[ df['Publisher'] == 'Nintendo' ]
 res = nanindo.mean()['Global_Sales']
 return res
avg_sale_compare_other_platform()

/tmp/ipykernel_7875/178367552.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  res = nanindo.mean()['Global_Sales']

2.541337126600285

In [118]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher(), 'Electronic Arts')
    assert_equal(most_common_platform(), 'DS')
    assert_equal(most_common_genre(), 'Action')
    assert_equal(avg_sale_compare_other_platform(), 2.541337126600285)
    print("Success!!!")

test()

NameError: name 'na_median_sales' is not defined